html {
    margin: 0;
    padding: 0;
    height: 100%;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#saved-box {
    width: 100%;
    display: flex;
}
#url-box {
    width: 100%;
    display: flex;
}
#action-box {
    width: 100%;
    display: flex;
}
#source-text-box,
#source-url-box-inner {
    flex: auto;
    width: 100%;
    display: flex;
}
#saved-urls-box {
    flex: auto;
}
#used-urls-box {
    flex: auto;
}
#url {
    flex: auto;
}
#source-text {
    width: 100%;
    resize: none;
    flex: auto;
}
#source-url {
    width: 100%;
}
label {
    min-width: 4em;
}
input[type="button"] {
    min-width: 8em;
}
