/* ---- */

html {
  overflow: hidden;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* ---- */

#selector-box {
    width: calc(100% - 4px - 4px);
    display: grid;
    grid-template-columns: 8em 1fr calc(22px + 4px + 2px);
    grid-auto-rows: 20px;
    grid-gap: 4px;
    margin: 4px;
}

label {
    padding: 2px 20px;
}

label.inline {
    padding: 2px 2px;
}

#stored-urls {
    width: 100%;
}

#url-box {
    display: flex;
    flex-direction: row;
}

#url {
    flex: 1;
}

.theme-light #remove::before {
    background-image: url("./images/clear-light.svg");
}
.theme-dark #remove::before {
    background-image: url("./images/clear-dark.svg");
}

#used-urls {
    width: 100%;
}

.theme-light #refresh::before {
    background-image: url("./images/refresh-light.svg");
}
.theme-dark #refresh::before {
    background-image: url("./images/refresh-dark.svg");
}

input[type="text"] {
    border-color: var(--theme-toolbar-separator);
}

/* ---- */

.source-tab {
    min-width: 8em;
}
.source-tab .filename {
    margin-left: auto;
    margin-right: auto;
}

#status-text, #status-url {
    display: inline;
    margin: 0 20px;
}

/* ---- */

#source-text-box {
    flex: auto;
    flex-direction: column;
    width: 100%;
    display: flex;
}

.theme-light #save-text::before {
    background-image: url("./images/check-light.svg");
}
.theme-dark #save-text::before {
    background-image: url("./images/check-dark.svg");
}

.theme-light #load-text::before {
    background-image: url("./images/refresh-light.svg");
}
.theme-dark #load-text::before {
    background-image: url("./images/refresh-dark.svg");
}

.theme-light #pretty::before {
    background-image: url("./images/prettyPrint-light.svg");
}
.theme-dark #pretty::before {
    background-image: url("./images/prettyPrint-dark.svg");
}

#source-text {
    width: 100%;
    resize: none;
    flex: auto;
    font-family: var(--monospace-font-family);
    font-size: var(--theme-code-font-size);
}

/* ---- */

.theme-light #save-url::before {
    background-image: url("./images/check-light.svg");
}
.theme-dark #save-url::before {
    background-image: url("./images/check-dark.svg");
}

#source-url-box p {
  margin: 4px;
  padding: 0;
}

#source-url-box-inner {
    width: calc(100% - 4px - 4px);
    display: grid;
    grid-template-columns: 8em 1fr calc(22px + 4px + 2px);
    grid-auto-rows: 20px;
    grid-gap: 4px;
    margin: 4px;
}

#source-url {
    width: 100%;
}

#source-url-more-box {
    position: relative;
}

#source-url-menu-container {
    right: 0px;
    top: 18px;
    width: 140px;
}
#source-url-menu-container .tooltip-arrow {
    left: calc(140px - (var(--arrow-width) + 2 * var(--shadow-margin)) - 4px);
}

.theme-light #source-url-more::before {
    background-image: url("./images/more-light.svg");
}
.theme-dark #source-url-more::before {
    background-image: url("./images/more-dark.svg");
}
pre {
  margin: 4px;
  border: 1px solid var(--theme-toolbar-separator);
  padding: 4px;
}

#source-log-box {
    flex: auto;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.theme-light #log-clear::before {
    background-image: url("./images/clear-light.svg");
}
.theme-dark #log-clear::before {
    background-image: url("./images/clear-dark.svg");
}

#log-box {
    overflow-x: hidden;
    overflow-y: auto;
}

#log-toolbar {
    border-bottom: 1px solid var(--theme-toolbar-separator);
}

.log-item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--theme-toolbar-separator);
    font-family: var(--monospace-font-family);
    font-size: var(--theme-code-font-size);
}

.log-item-icon {
    display: inline-block;
    border-radius: 4px;
    padding: 2px 4px;
    margin: 0px 4px;
    min-width: 8em;
    text-align: center;
}

.log-item-icon-text {
    color: var(--theme-highlight-blue);
    border: 1px solid var(--theme-highlight-blue);
}

.log-item-icon-url {
    color: var(--theme-highlight-orange);
    border: 1px solid var(--theme-highlight-orange);
}

.log-item-icon-replicate {
    color: var(--theme-highlight-pink);
    border: 1px solid var(--theme-highlight-pink);
}
