/* Imported from m-c/devtools/client/themes/light-theme.css */

body {
  margin: 0;
}

.theme-body {
  background: var(--theme-body-background);
  color: var(--theme-body-color);
}

.theme-sidebar {
  background: var(--theme-sidebar-background);
  color: var(--theme-body-color);
}

.theme-selected {
  background-color: var(--theme-selection-background);
  color: var(--theme-selection-color);
}

.theme-toolbar,
.devtools-toolbar,
.devtools-sidebar-tabs tabs,
.devtools-sidebar-alltabs { /* General toolbar styling */
  color: var(--theme-body-color);
  background-color: var(--theme-toolbar-background);
  border-color: var(--theme-splitter-color);
}

/* ---- */

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* ---- */

#selector-box {
    width: calc(100% - 4px - 4px);
    display: grid;
    grid-template-columns: 8em 1fr calc(22px + 4px + 2px);
    grid-auto-rows: 20px;
    grid-gap: 4px;
    margin: 4px;
}

label {
    padding: 2px 20px;
}

#stored-urls {
    width: 100%;
}

.theme-light #remove::before {
    background-image: url("./images/clear-light.svg");
}
.theme-dark #remove::before {
    background-image: url("./images/clear-dark.svg");
}

#used-urls {
    width: 100%;
}

.theme-light #refresh::before {
    background-image: url("./images/refresh-light.svg");
}
.theme-dark #refresh::before {
    background-image: url("./images/refresh-dark.svg");
}

input[type="text"] {
    border-color: var(--theme-toolbar-separator);
}

/* ---- */

.source-tab {
    min-width: 8em;
}
.source-tab .filename {
    margin-left: auto;
    margin-right: auto;
}

/* ---- */

#source-text-box {
    flex: auto;
    flex-direction: column;
    width: 100%;
    display: flex;
}

.theme-light #save-text::before {
    background-image: url("./images/check-light.svg");
}
.theme-dark #save-text::before {
    background-image: url("./images/check-dark.svg");
}

.theme-light #load-text::before {
    background-image: url("./images/refresh-light.svg");
}
.theme-dark #load-text::before {
    background-image: url("./images/refresh-dark.svg");
}

.theme-light #pretty::before {
    background-image: url("./images/prettyPrint-light.svg");
}
.theme-dark #pretty::before {
    background-image: url("./images/prettyPrint-dark.svg");
}

#source-text {
    width: 100%;
    resize: none;
    flex: auto;
}

/* ---- */

.theme-light #save-url::before {
    background-image: url("./images/check-light.svg");
}
.theme-dark #save-url::before {
    background-image: url("./images/check-dark.svg");
}

#source-url-box p {
  margin: 4px;
  padding: 0;
}

#source-url-box-inner {
    width: calc(100% - 4px - 4px);
    display: grid;
    grid-template-columns: 8em 1fr;
    grid-auto-rows: 20px;
    grid-gap: 4px;
    margin: 4px;
}

#source-url {
    width: 100%;
}

pre {
  margin: 4px;
  border: 1px solid var(--theme-toolbar-separator);
  padding: 4px;
}
